<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Start Gazebo -->
  <!-- Your robot simulation launch file here -->
  <include file="$(find my_first_robot)/launch/world.launch"/>
  <node name="face_detection" pkg="my_first_robot" type="get_image.py" output="screen"></node>
  <node name="hand_control" pkg="my_first_robot" type="control.py" output="screen"></node>
  <!-- Launch the gmapping node -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
    <!-- Parameters for gmapping -->
    <param name="base_frame" value="robot_footprint" />
    <param name="odom_frame" value="odom" />
    <param name="map_frame" value="map" />

    <param name="map_update_interval" value="1.0" />
    <param name="maxUrange" value="12.0" />
    <param name="sigma" value="0.05" />
    <param name="kernelSize" value="5" />
    <param name="lstep" value="0.05" />
    <param name="astep" value="0.05" />
    <param name="iterations" value="5" />
    <param name="lsigma" value="0.075" />
    <param name="ogain" value="3.0" />
    <param name="lskip" value="0" />
    <param name="srr" value="0.1" />
    <param name="srt" value="0.2" />
    <param name="str" value="0.1" />
    <param name="stt" value="0.2" />
  </node>
</launch>

